.footer {
  padding-top: 10px;
  background-color: #267e7774;
  background-color: #267e7774;
}
.title-Fotter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title-Fotter {
  & h1 {
    color: #267e77a1;
    margin-bottom: 0;
  }
  & h5 {
    margin-bottom: 0;
    color: #267e7774;
  }
  &:last-child {
    color: #267e7774;
  }
}
