.Par-fish {
  background-image: url("/public/BackGraon-Fichs.webp");
  background-size: cover;
  margin: 0;
  /* height: 100vh; */
  padding-bottom: 300px;
  padding-top: 500px;
  position: relative;
}
.child-Fish-Div .imag-fish {
  padding-top: 100px;
  position: relative;
  overflow: hidden;
  padding-bottom: 100px;
}

.child-Fish-Div .imag-fish > div {
  position: absolute;
  width: 0px;
  height: 0%;
  top: 44.5%;
  left: 33.5%;
  font-size: 30px;
  transform: translate(-40%, -40%);
  background-color: rgba(0, 255, 255, 0.651);
  border-radius: 10px;
  box-shadow: 0px -1px 6px 1px wheat inset;

  opacity: 0;
  transition: 0.6s;
}
.child-Fish-Div .imag-fish.activ > div {
  display: inline-block;
  width: 330px;
  height: 230px;
  transition: 0.6s;
  color: #714400;
  opacity: 1;
}
.child-Fish-Div .imag-fish img {
  width: 330px;
  height: 230px;
  border-radius: 10px;
}
/* For add icocon for formilar in cats */
.Par-fish .icon-add_circle_outline {
  font-size: 2rem;
  color: #0b6e66;
  position: absolute;
  z-index: 11;
  top: 40px;
  left: 3%;
}
.Par-fish .formilar-addinCats {
  font-size: 2rem;
  background-color: #267e776b;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  transform: scale(0, 0);
  transition: 1s;
  top: 0px;
  left: 0;
}
.Par-fish .formilar-addinCats.activ {
  transform: scale3d(1, 1, 1);
  transition: 1s;
}
.Par-fish .formilers-fish {
  width: 70%;
  margin: 100px auto;
  background-color: #ffa805a1;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 1px 0px 10px 2px rgb(62, 62, 62);
  padding: 20px;
}
.formilers-fish .icon-remove {
  color: #267e77;
  transition: 0.4s;
}
.formilers-fish .icon-remove:hover {
  color: red;
  transform: rotateX(180deg);
}
.formilers-fish > div {
  margin-bottom: 1rem;
  width: 100%;
}

.formilers-fish > input {
  all: unset;
  color: #267e77;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px 20px !important;
  background-color: #ffffff54 !important;
  border-bottom: 2px solid #267e77;
  width: 90%;
  margin: 10px auto !important;
}
.formilers-fish button {
  all: unset;
  padding: 5px 10px;
  background-color: #267e77;
  color: #674302;
  border-radius: 10px;
  font-size: 20px;
  margin-right: 10px;

  width: 40%;
  /* flex-basis: 46%; */
  text-align: center;
}
@media (max-width: 666px) {
  .Par-fish .formilers-fish {
    width: 90% !important;
    margin: 50px auto;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 1px 0px 10px 2px rgb(133, 227, 204);
    padding: 10px 30px;
  }
  .formilers-fish button {
    width: 35%;
  }
}
