.paren-mondran .icon-add_circle_outline {
  font-size: 2rem;
  color: #ffa705;
  position: absolute;
  z-index: 11;
  top: 10px;
  left: 1%;
}
.paren-mondran .formilar-addinCats {
  font-size: 2rem;
  background-color: #267e776b;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  transform: scale(0, 0);
  transition: 1s;
  top: 0px;
  left: 0;
}
.paren-mondran .formilar-addinCats.activ {
  transform: scale3d(1, 1, 1);
  transition: 1s;
}

.paren-mondran .formilers-Maondran {
  width: 70%;
  margin: 50px auto;
  background-color: #ffa805a1;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 1px 0px 10px 2px rgb(62, 62, 62);
  padding: 20px;
}
.formilers-Maondran .icon-remove {
  color: #267e77;
  transition: 0.4s;
}
.formilers-Maondran .icon-remove:hover {
  color: red;
  transform: rotateX(180deg);
}
.formilers-Maondran > div {
  margin-bottom: 1rem;
  width: 100%;
}

.formilers-Maondran > input {
  all: unset;
  color: #267e77;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px 20px !important;
  background-color: #ffffff54 !important;
  border-bottom: 2px solid #267e77;
  width: 90%;
  margin: 10px auto !important;
}
.formilers-Maondran button {
  all: unset;
  padding: 5px 10px;
  background-color: #267e77;
  color: #674302;
  border-radius: 10px;
  font-size: 20px;
  margin-right: 10px;

  width: 40%;
  /* flex-basis: 46%; */
  text-align: center;
}
@media (max-width: 666px) {
  .paren-mondran .formilers-Maondran {
    width: 90% !important;
    margin: 50px auto;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 1px 0px 10px 2px rgb(133, 227, 204);
    padding: 10px 30px;
  }
  .formilers-Maondran button {
    width: 35%;
  }
  .paren-mondran .icon-add_circle_outline {
    font-size: 1.3rem;
  }
}
