/*
=========================================
folder css swibber for Image Animl  for all Pj

-- 1 -- for parent swiper and child 

--2-- class span in ther PJ

--3-- for mediei in 640px 

===========================================

 */

/* -- 1 -- for parent swiper and child  */

.swippr {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
  /* background-color: aqua; */
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.493),
    #ff99006a,
    #267e7765,
    rgba(255, 255, 255, 0.531)
  );
}

.swippr .swip-Img {
  padding-right: 40px !important;
  padding-left: 40px !important;
  width: 50%;
}

.swip-Img img {
  width: calc(100%);
  height: calc(100% + 200px);
  border-radius: 10px;
}

/* --2-- class span in ther PJ */

.swiper-pagination-bullet {
  background-color: #267e77 !important;
}
.swiper-pagination-bullet-active {
  background-color: #ff9900 !important;
}

/* --2-- for mediei in 640px  */

@media (max-width: 640px) {
  .swippr {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }

  .swippr .swip-Img {
    padding-right: 10px !important;
    padding-left: 10px !important;
    width: 100%;
  }
}
