.Parent-Raibet {
  background-image: url("/public/BackGrandRabbit.jpg");
  background-size: cover;
  padding-top: 300px;
  padding-bottom: 500px;
  position: relative;
}
.Parent-Raibet::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #416663d8;
  position: absolute;
  top: 0;
  left: 0;
}

.child-Raybit-Div .imag-raibit {
  margin-top: 100px;
  position: relative;
  overflow: hidden;
  /* margin-bottom: 100px; */
}

.child-Raybit-Div .imag-raibit > div {
  position: absolute;
  width: 330px;
  height: 60%;
  top: 100%;
  left: 0;
  background-color: wheat;
  border-radius: 10px;
  box-shadow: 0px -1px 6px 1px wheat inset;
  transition: 0.6s;
}
.child-Raybit-Div .imag-raibit.activ > div {
  top: 40%;
  transition: 0.6s;
}
.child-Raybit-Div .imag-raibit img {
  width: 330px;
  height: 230px;
  border-radius: 10px;
  cursor: pointer;
}

/* For add icocon for formilar in cats */
.Parent-Raibet .icon-add_circle_outline {
  font-size: 2rem;
  color: #ffffff;
  position: absolute;
  z-index: 11;
  top: 30px;
  left: 3%;
}
.Parent-Raibet .formilar-addinCats {
  font-size: 2rem;
  background-color: #267e776b;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  transform: scale(0, 0);
  transition: 1s;
  top: 0px;
  left: 0;
}
.Parent-Raibet .formilar-addinCats.activ {
  transform: scale3d(1, 1, 1);
  transition: 1s;
}

.Parent-Raibet .formilers-Rabbit {
  width: 70%;
  margin: 100px auto;
  background-color: #ffa805a1;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 1px 0px 10px 2px rgb(62, 62, 62);
  padding: 20px;
  cursor: pointer;
}
.formilers-Rabbit .icon-remove {
  color: #267e77;
  transition: 0.4s;
}
.formilers-Rabbit .icon-remove:hover {
  color: red;
  transform: rotateX(180deg);
}
.formilers-Rabbit > div {
  margin-bottom: 1rem;
  width: 100%;
}

.formilers-Rabbit > input {
  all: unset;
  color: #267e77;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px 20px !important;
  background-color: #ffffff54 !important;
  border-bottom: 2px solid #267e77;
  width: 90%;
  margin: 10px auto !important;
}
.formilers-Rabbit button {
  all: unset;
  padding: 5px 10px;
  background-color: #267e77;
  color: #674302;
  border-radius: 10px;
  font-size: 20px;
  margin-right: 10px;

  width: 40%;
  /* flex-basis: 46%; */
  text-align: center;
}

.box-rabit .icon-close1 {
  position: absolute;
  background-color: rgb(201, 197, 197);
  width: 10px;
  height: 10px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: 0px;
  color: red;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 50%;
}

@media (max-width: 666px) {
  .Parent-Raibet .formilers-Rabbit {
    width: 90% !important;
    margin: 50px auto;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 1px 0px 10px 2px rgb(133, 227, 204);
    padding: 10px 10px;
  }
  .formilers-Rabbit button {
    width: 35%;
  }

  .Parent-Raibet .icon-add_circle_outline {
    font-size: 1.5rem;
  }
}
