.Parent-Raibet {
  background-image: url("/public/BackGrandRabbit.jpg");
  background-size: cover;
  padding-top: 300px;
  padding-bottom: 500px;
  position: relative;
}

.child-Raybit-Div .imag-raibit {
  margin-top: 100px;
  position: relative;
  overflow: hidden;
  /* margin-bottom: 100px; */
}

.child-Raybit-Div .imag-raibit > div {
  position: absolute;
  width: 330px;
  height: 60%;
  top: 100%;
  left: 0;
  background-color: wheat;
  border-radius: 10px;
  box-shadow: 0px -1px 6px 1px wheat inset;
  transition: 0.6s;
}
.child-Raybit-Div .imag-raibit.activ > div {
  top: 40%;
  transition: 0.6s;
}
.child-Raybit-Div .imag-raibit img {
  width: 330px;
  height: 230px;
  border-radius: 10px;
}
