@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&family=Cairo:wght@200;300;400;500;600;700;800;900&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,400;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
:root {
  --pramerey-color: #267e76;
  --cecandery-color: #ff9900;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.conteiner {
  margin-left: 50px !important;
  margin-right: 50px !important;
}
@media (max-width: 580px) {
  .conteiner {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (max-width: 967px) {
  .conteiner {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
}

.titAlls {
  text-align: center;
  color: transparent;
  /* color: #8f0000; */
  font-size: 70px;
  letter-spacing: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 0px;
  height: 70px;
  transition: 0.5s;
  font-weight: 800;
  background-color: transparent;
  transform: translateY(60%);
  position: absolute;
  z-index: 10;
  cursor: pointer;
  top: 0;
  left: 50%;

  text-transform: capitalize;
  text-shadow: 10px 10px 3px #fbad04;
}

.titAlls:hover {
  letter-spacing: 4px;

  text-shadow: 10px 0px 6px #ff9b06;
}

.icon {
  position: fixed;
  font-size: 30px;
  color: #ff9900;
  top: 15%;
  right: 0px;
  z-index: 299;
  background-color: #267e774d;
  padding: 10px;
  border-radius: 50% 0 0 50%;
}
.icon::after {
  content: "";
  position: absolute;
  width: 106%;
  height: 50%;
  top: -25px;
  left: 4px;
  background-color: TRANSPARENT;
  border-radius: 137px 0 137px 0;
  box-shadow: 24px 4px 0px -4px #267e764d;
}
.icon::before {
  content: "";
  position: absolute;
  width: 106%;
  height: 50%;
  top: 51px;
  left: -3px;
  background-color: TRANSPARENT;
  border-radius: 137px 137px 0;
  box-shadow: 21px -4px 0px -3px #267e764d;
}
.stity {
  position: fixed;
  right: 0;
  top: 10%;
  width: 0%;
  height: 100vh;
  background-color: rgba(245, 222, 179, 0.893);
  transition: 0.4s;
  z-index: 200;
  padding: 60px 0px;
}
.stity.activ {
  width: 20%;
  transition: 0.4s;
}
.stity h6 {
  z-index: 0987654;
  color: rgb(122, 122, 122);
  margin-bottom: 10px;
  top: 100px;
  padding: 0 20px;
}
